@model List<GalloFlix.Models.Genre> // Informar todos o caminho pra não haver conflito caso haja nomes iguais

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var genre in Model){
    <p>@genre.Id - @genre.Name</p>
}